apiVersion: v1
kind: ConfigMap
metadata:
  name: e5s-config
  namespace: default
data:
  e5s.yaml: |
    spire:
      workload_socket: unix:///spire/agent-socket/spire-agent.sock
      # initial_fetch_timeout: 30s

    server:
      listen_addr: ":8443"
      allowed_client_trust_domain: "example.org"

    client:
      expected_server_trust_domain: "example.org"
