apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.config.name }}
  namespace: {{ .Values.namespace }}
data:
  e5s.yaml: |-
    spire:
      workload_socket: {{ .Values.spire.workloadSocket }}
      # (Optional) How long to wait for identity from SPIRE before failing startup
      # If not set, defaults to 30s
      # initial_fetch_timeout: 30s
    server:
      listen_addr: {{ .Values.server.listenAddr | quote }}
      allowed_client_trust_domain: {{ .Values.spire.trustDomain | quote }}
    client:
      expected_server_trust_domain: {{ .Values.spire.trustDomain | quote }}
