apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.server.name }}
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: {{ .Values.server.name }}
  ports:
  - protocol: TCP
    port: {{ .Values.server.service.port }}
    targetPort: {{ .Values.server.service.port }}
